<html>
  <head>
    <title>Holiday Game</title>
    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


    <style>    
      .container-fluid {
      border-radius: 25px;
      background: #73AD21;
      padding: 20px; 
      position: relative;
      box-shadow: 0 0 15px black;
      margin-top: 30px
      }
    </style>

    {% block css %}{% endblock %}
    <!-- JavaScript -->
    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    {% block scripts %}{% endblock %}
</head>
  
<body>

<nav class="navbar navbar-default">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ url_for('home')}}">Holiday Game</a>
    </div>
    <ul class="nav navbar-nav">
      {% if session.authenticated %}
      <li><a href="{{ url_for('view_players')}}">View Players</a></li>
      <li><a href="{{ url_for('my_role')}}">My Role</a></li>
      <li><a href="{{ url_for('vote')}}">Vote</a></li>
      <li><a href="{{ url_for('logout')}}">Logout</a></li>
      {% else %}
      <li><a href="{{ url_for('login')}}">Login</a></li>      
      {% endif %}
    </ul>
</nav>

{% block content %}{% endblock %}

 </body>
</html>
