{% extends "base.html" %}

{% block content %}

<div class="container">

  {% if game_state_setting == "STATE_ENTER" %}


  {% if player_joined %}

<div class="container-fluid">  
<div class="row">  
  <h1 class="display-1 text-center">
    In a moment, your naughty or nice status will be revealed from Sir Jefferson Elf.
  </h1>
</div>
</div>
  {% endif %}

<div class="container-fluid">
<div class="row">  
<h1 class="display-1 text-center">
  Santa Overthrown Through Elvish Uprising in North Pole
</h1>
</div></div>

<h3 class="display-1 text-center">
  After the recent uprisings in the middle east against dictators, the elves of the north pole were
  inspired to band together and overthrow their own <strong>tyrannous dictator: Santa.</strong> Why might they rebel? Well, it turns out that Santa has not paid the elves all these years, and they realized they were all <strong>a bunch of slaves.</strong></h3>
<h3 class="display-1 text-center">
  After overthrowing Santa, the elves have come together, led by <strong>Sir Washington Elf, Sir Jefferson Elf,
  and Sir Adams Elf.</strong> They have determined that an <strong>election</strong> will take place for the next Santa.
</h3>
<h3 class="display-1 text-center">
  The election will consist of <strong>four rounds</strong>.  There will be 3 nomination rounds where all elves will nominate
  one person.  A debate amongst the <strong>3 nominees</strong> will be held, followed by each elf voting for their favorite candidate.
</h3>
<h3 class="display-1 text-center">
    <strong>Complications arise, however.</strong>  It turns out that some of the elves were ... <strong>on the NAUGHTY list</strong>!  With the recent change in the political climate of the northpole, they want to <strong>band together</strong> to try to elect a <strong>naughty person to be Santa.</strong>  The trouble is, they don't have a majority! They must infiltrate the nice elves to convince them to vote for a naughty elf!
</h3>

<h3 class="display-1 text-center">
  One of the naughty elves <strong>stole the naughty list</strong> in an attempt to band all naughty
  elves together. Unfortunately, since the nice elves behave, none of them attempted to steal the list or are ever the wiser that it was stolen.
</h3>


{% if not player_joined %}
<div class="container-fluid">
<div class="row">

<h3 class="display1 text-center">
  <strong>Join the game, and see if Santa put you on the naughty list or
  nice list!</strong>
</h3>
<div class="row text-center">
  <a href="{{ url_for('join_game')}}"><button type="button" class="btn">Join Game!</button></a>
</div>  
</div>     
</div>

{% endif %}

<!---------------------------------------------------------------------------------------------------->

{% elif game_state_setting  == "STATE_ENTER" and player_joined %}
<div class="container-fluid">
<div class="row">

  <h1 class="display-1 text-center">
    In a moment, your naughty or nice status will be revealed from Sir Jefferson Elf.
  </h1>

</div>
</div>

  

<!---------------------------------------------------------------------------------------------------->

{% elif game_state_setting  == "STATE_VIEW_ROLE" and player_joined%}

<div class="container-fluid">
<div class="row">

  <h1 class="display-1 text-center">Sir Jefferson Elf has mailed each person whether they are on the naughty or nice list.</h1>

</div>
</div>
  
  
<h2 class="display-1 text-center">Click on My Role above to see whether you are naughty or nice!</h2>

<!---------------------------------------------------------------------------------------------------->

{% elif (game_state_setting  == "STATE_COLLABORATE" or game_state_setting == "STATE_VOTE") and player_joined%}

<div class="container-fluid">
<div class="row">
{% if game_round_setting == "4"  %}
<h1 class="display-1 text-center">Current Round : Final </h1>
{% else %}
<h1 class="display-1 text-center">Current Round : {{game_round_setting}}</h1>
{% endif %}
</div></div>


{% if game_round_setting == "2" or game_round_setting == "3" or game_round_setting == "4"  %}
<h3 class="display-1 text-center">
  Round 1 Winner: {{round_winners[0].user.first_name}} {{ round_winners[0].user.last_name }}</h3>
{% endif %}

{% if game_round_setting == "3" or game_round_setting == "4"  %}
<h3 class="display-1 text-center">
  Round 2 Winner: {{round_winners[1].user.first_name}} {{ round_winners[1].user.last_name }}</h3>
  
{% endif %}

{% if game_round_setting == "4"  %}
<h3 class="display-1 text-center">
  Round 3 Winner: {{round_winners[2].user.first_name}} {{ round_winners[2].user.last_name }}</h3>
 {% endif %}


{% if game_state_setting  == "STATE_COLLABORATE" %}
<h1 class="display-1 text-center">Work with other elves to determine who to nominate! You may cast you're vote if you are ready.</h1>
{% endif %}

{% if game_state_setting  == "STATE_VOTE" %}
<h1 class="display-1 text-center">It's Time to Vote. Go to Vote page to cast your vote!</h1>
{% endif %}


<!---------------------------------------------------------------------------------------------------->
  
{% elif game_state_setting  == "STATE_GAME_OVER" and player_joined%}

<div class="container-fluid">
<div class="row">
{% if winner_is_naughty %}
<h1 class="display-1 text-center">NAUGHTY TEAM WINS!</h1>
{% else %}
<h1 class="display-1 text-center">NICE TEAM WINS!</h1>
{% endif %}
</div></div>

<h2 class="display-1 text-center">{{round_winners[3].user.first_name}} {{round_winners[3].user.last_name}} is the new Santa!</h2>

<!---------------------------------------------------------------------------------------------------->

{% else %}  
  <h1 class="display-1 text-center"> Bah-hum-bug! Game Entrance has been closed.</h1>
{% endif %}  
  
</div>


{% endblock %}
