{% extends "base.html" %}

{% block content %}
<div class="section_title"><h2>Login Below or Create an Account</h2></div>
    <div class="section_content">
        <form action="" method="post" name="login">
        {{ form.hidden_tag() }}
        <p>Username: {{ form.username(size=50) }}</p>
        {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        <p>Password:  {{ form.password(size=50) }}</p>
        {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        <p><input type="submit" value="Login"></p>
        </form>
        <p><button type="button" onclick="window.location.href='{{ url_for('create_account') }}';">Create Account</button></p>
    </div>
{% endblock %}
