{% extends "base.html" %}

{% block content %}

<div class="container">

  {% if game_state == "STATE_VIEW_ROLE" and cur_player_naughty%}
<div class="container-fluid">
<div class="row">    
  
  <h1 class="display-1 text-center"> You are on the NAUGHTY TEAM!</h1>
  <h2 class="display-1 text-center">
    Screw Santa! That slimy, fat bastard put YOU on the naughty list.
    Luckily your fellow naughty listers stole the naughty list! Here are the
    other naughty people:
  </h2>
</div></div<  

<div class="container-fluid">
<div class="row">    
    
    <table class="table">
      <thead>
	<tr>
	  <th>Santa's 2017 Naughty List</th>
	</tr>
      </thead>
      <tbody>
	{% for player in naughty_players %}
	<tr>
	  <td>{{player.user.first_name}} {{player.user.last_name}}</td>
	</tr>
        {% endfor %}
      </tbody>
    </table>
  </div></div>
  
  {% elif game_state  == "STATE_VIEW_ROLE" and not cur_player_naughty %}

<div class="container-fluid">
<div class="row">    
  
  <h1 class="display-1 text-center"> You are on the NICE TEAM.</h1>
  <h2 class="display-1 text-center">
    What a good boy or girl you are! Santa's putting his trust in you to
    elect another nice person! Don't mess up!
  </h2>

</div></div>  

  {% elif game_state == "STATE_ENTER" %}

<div class="container-fluid">
<div class="row">  
 
  <h1 class="display-1 text-center">Please wait until Sir Jefferson Elf reveals your status.</h1>

</div></div>  
  
  {% else %}

<div class="container-fluid">
<div class="row">    
  
  <h1 class="display-1 text-center"> Ba-hum-bug! You can't view your role anymore!</h1>

</div></div>    
  {% endif %}
  
  
</div>


{% endblock %}
